Enrich Airtable Customers with Country Region Data.json
{
  "name": "Enrich Airtable Customers with Country Region Data",
  "nodes": [
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appfvrSPyBbUYuaLR",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://airtable.com/appfvrSPyBbUYuaLR"
        },
        "table": {
          "__rl": true,
          "value": "tblS5nnCty9d2HHT0",
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "https://airtable.com/appfvrSPyBbUYuaLR/tblS5nnCty9d2HHT0"
        },
        "options": {}
      },
      "id": "95367f2b-081d-4e6b-902f-8d14ad13c0b9",
      "name": "List Customers from Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "6F08Q5TLU04u0YMa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://restcountries.com/v3.1/all",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "name,region,subregion"
            }
          ]
        },
        "options": {}
      },
      "id": "4e96bd4e-17d7-4605-b3c2-cb12e89bb6bb",
      "name": "Get Countries Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "customerCountry",
              "field2": "name.common"
            }
          ]
        },
        "options": {}
      },
      "id": "77ba0efe-e981-4c41-a66a-3d3548940747",
      "name": "Merge by Country Name",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        224,
        96
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appfvrSPyBbUYuaLR",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://airtable.com/appfvrSPyBbUYuaLR"
        },
        "table": {
          "__rl": true,
          "value": "tblS5nnCty9d2HHT0",
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "https://airtable.com/appfvrSPyBbUYuaLR/tblS5nnCty9d2HHT0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "region": "={{ $json.region }}",
            "subregion": "={{ $json.subregion }}",
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "customerID",
              "displayName": "customerID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerCountry",
              "displayName": "customerCountry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerEmail",
              "displayName": "customerEmail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerSince",
              "displayName": "customerSince",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "region",
              "displayName": "region",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subregion",
              "displayName": "subregion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "44f3a389-54b6-4d9f-8c81-03e4714718c8",
      "name": "Update Airtable Records",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        448,
        96
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "6F08Q5TLU04u0YMa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "id": "99430ec5-649e-4f2e-9fcb-d07f347ceef0",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        96
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "List Customers from Airtable",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Countries Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Customers from Airtable": {
      "main": [
        [
          {
            "node": "Merge by Country Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Countries Data": {
      "main": [
        [
          {
            "node": "Merge by Country Name",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge by Country Name": {
      "main": [
        [
          {
            "node": "Update Airtable Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "36f658fe-d81d-4ee9-b862-86c83b9567db",
  "meta": {
    "instanceId": "4e88cb21d585b73f8d2f3cdc2885eeb5e97ed749d201adf2f0a825f9480cfab5"
  },
  "id": "TtBsEbevMMk6os2s",
  "tags": []
}