Personal Assistant Using Telegram.json
{
  "name": "Personal Assistant Using Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -336,
        16
      ],
      "id": "05cbc4ae-1d1d-4114-a655-d56e8d9ee5cf",
      "name": "Telegram Trigger",
      "webhookId": "dcb7e89c-47cc-49b5-997a-ed926fc28b69",
      "credentials": {
        "telegramApi": {
          "id": "2Iiuxdo4VzviFz81",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a personal assistant that helps user fulfil their requests.\n\nWhen you are asked to perform a task on the current date, please use the current time and date :  {{ $now }}\n\n## Output\nyou should output the result d don't include anything unnecessary. Just ake sure that you politely answer user question and if any other information is required \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        928,
        16
      ],
      "id": "065c29ae-feb9-4e6e-a4af-46c20003531e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        928,
        272
      ],
      "id": "f895ea66-141e-43d6-a821-f3da734e42b3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "lrujpwiHa32ZXKRu",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e5c0739-24f1-43c4-a02a-dc76bb1165fb",
              "name": "message.text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "c4bc46f8-8f19-42e2-a649-fd3e5c035d15",
              "name": "message.chat.id",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "34abb2ef-63e7-4720-9e40-be11598d40e2",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        -144
      ],
      "id": "d1ca2a75-3717-4d7f-9c4f-7698ab698008",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        16
      ],
      "id": "5fb4ce1b-a93b-48d5-ab80-e1d469ea77fd",
      "name": "Send a text message",
      "webhookId": "bbeb6dc7-3a27-4ceb-86d2-dd5eb66a555f",
      "credentials": {
        "telegramApi": {
          "id": "2Iiuxdo4VzviFz81",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1024,
        400
      ],
      "id": "7071f68b-402e-489f-b81c-c4dac6a0e49e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "ex",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "eb24060a-11d4-49f3-8a42-0c9636524f04"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "011acf67-a7ea-406e-a4e6-db64aaf1528e",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -128,
        16
      ],
      "id": "12383517-84a0-43a4-a778-7fb141081f03",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        176,
        336
      ],
      "id": "dcef50cf-ae1c-4a1c-9954-c5494c5b4f20",
      "name": "Get a file",
      "webhookId": "f48927e9-3c9e-4512-8436-c0c6ba0b7c64",
      "credentials": {
        "telegramApi": {
          "id": "2Iiuxdo4VzviFz81",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        368,
        448
      ],
      "id": "a9759770-6e3e-46f9-8d50-099d3d066eac",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "ZN0NvgCdMBLaPVjZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d6264e-7898-4ac1-9be4-60326a3cf40f",
              "name": "message.text",
              "value": "{{json.text}}",
              "type": "string"
            },
            {
              "id": "a25ded5d-93bb-40aa-ad51-9a5f5c4b01eb",
              "name": "message.chatid",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        336
      ],
      "id": "a0e31e5b-e9b3-4198-b9a3-0021f56a0fee",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        1088,
        224
      ],
      "id": "128c16ec-d1bc-4f3c-85f9-e5b6b4840ccd",
      "name": "Create a task in Google Tasks"
    },
    {
      "parameters": {
        "description": "this workflow helps  create google calendar or get event from the calendar.",
        "workflowId": {
          "__rl": true,
          "value": "zBFT8hgEiB18GTHZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/zBFT8hgEiB18GTHZ",
          "cachedResultName": "My workflow 2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('text', ``, 'string') }}"
          },
          "matchingColumns": [
            "text"
          ],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1216,
        192
      ],
      "id": "ee0fa78a-a411-49a9-8afc-df6458090197",
      "name": "Call 'My workflow 2'"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'My workflow 2'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "efac7603-d161-4eeb-ba1e-7d3da059d9aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e88cb21d585b73f8d2f3cdc2885eeb5e97ed749d201adf2f0a825f9480cfab5"
  },
  "id": "A272lJ9hHMs7WKvO",
  "tags": []
}