RAG Workflow For Company Documents stored in Google Drive.json
{
  "name": "RAG Workflow For Company Documents stored in Google Drive",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "company-files",
          "mode": "list",
          "cachedResultName": "company-files"
        },
        "options": {
          "clearNamespace": false
        }
      },
      "id": "2a75552c-7603-488b-adcb-af2f38189f8b",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        240,
        240
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "SMRSQnADjGJvBbdY",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "7caedd21-c30d-4a5c-844a-1aec50d599f9",
      "name": "Embeddings Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        208,
        528
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "ZfasGzkRJwxmi4ni",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {}
      },
      "id": "bd1e637f-8862-4201-9f01-14574955fc6b",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        400,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "40ea443f-76eb-4a64-8b21-24b2774bc175",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        384,
        672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a helpful HR assistant designed to answer employee questions based on company policies.\n\nRetrieve relevant information from the provided internal documents and provide a concise, accurate, and informative answer to the employee's question.\n\nUse the tool called \"company_documents_tool\" to retrieve any information from the company's documents.\n\nIf the answer cannot be found in the provided documents, respond with \"I cannot find the answer in the available resources.\""
        }
      },
      "id": "f5f0707f-346d-49e8-88fa-7b333cde3720",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -16,
        1088
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "name": "company_documents_tool",
        "description": "Retrieve information from any company documents"
      },
      "id": "e3ddd826-0750-49ff-ba14-374210dd7032",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        384,
        1312
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "company-files",
          "cachedResultName": "company-files"
        },
        "options": {}
      },
      "id": "062d823f-927a-4b61-b0a4-8afbb0f4e15a",
      "name": "Pinecone Vector Store (Retrieval)",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        288,
        1488
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "SMRSQnADjGJvBbdY",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "35f5f6ed-ced0-4ec0-b653-3a95c6fbc9ea",
      "name": "Embeddings Google Gemini (retrieval)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        272,
        1648
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "ZfasGzkRJwxmi4ni",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "id": "1d443979-56b0-4bff-97a0-93b2eaaeb5dc",
      "name": "Download File From Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        32,
        240
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gHdfU9hvJ0bN7vqN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Chat with company documents"
      },
      "id": "85901151-7cb1-493b-9c84-68c327815a24",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "list",
          "value": "1evDIoHePhjw_LgVFZXSZyK1sZm2GHp9W",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1evDIoHePhjw_LgVFZXSZyK1sZm2GHp9W",
          "cachedResultName": "INNOVI PRO"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "b393ca11-fd27-4ecb-840a-c9d899a96f99",
      "name": "Google Drive File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -304,
        384
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gHdfU9hvJ0bN7vqN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "id": "eacfdd05-18d4-4306-850e-d9be3e7fca81",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        64,
        1392
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "content": "## Add docuemnts to vector store when updating or creating new documents in Google Drive",
        "width": 320
      },
      "id": "8a0a2348-9102-4bc7-ac8f-eaaa19d09c81",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "id": "71855941-21e5-4d7c-a55d-457871548b97",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -128,
        1392
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "ZfasGzkRJwxmi4ni",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "id": "38cb1c69-deb5-4ff6-9211-57a2cfafca4d",
      "name": "Google Gemini Chat Model (retrieval)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        640,
        1488
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "ZfasGzkRJwxmi4ni",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Set up steps\n\n1. Google Cloud Project and Vertex AI API:\n* Create a Google Cloud project.\n* Enable the Vertex AI API for your project.\n2. Google AI API Key:\n* Obtain a Google AI API key from Google AI Studio.\n3. Pinecone Account:\n* Create a free account on the Pinecone website.\nObtain your API key from your Pinecone dashboard.\n* Create an index named company-files in your Pinecone project.\n4. Google Drive:\n* Create a dedicated folder in your Google Drive where company documents will be stored.\n5. Credentials in n8n: Configure credentials in your n8n environment for:\n* Google Drive OAuth2\n* Google Gemini(PaLM) Api (using your Google AI API key)\n* Pinecone API (using your Pinecone API key)\n5. Import the Workflow:\n* Import this workflow into your n8n instance.\n6. Configure the Workflow:\n* Update both Google Drive Trigger nodes to watch the specific folder you created in your Google Drive.\n* Configure the Pinecone Vector Store nodes to use your company-files index.",
        "height": 720,
        "width": 420
      },
      "id": "3f365cc1-3d1d-426f-9e4b-fe06249e4a94",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1216,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        1088
      ],
      "id": "f662d288-1f00-46e1-9aa5-58b49cf7e265",
      "name": "Telegram Trigger",
      "webhookId": "dcb7e89c-47cc-49b5-997a-ed926fc28b69",
      "credentials": {
        "telegramApi": {
          "id": "2Iiuxdo4VzviFz81",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        1088
      ],
      "id": "71b5de1d-c9ce-4492-be40-1b8dfb00071a",
      "name": "Send a text message",
      "webhookId": "91c0f8ef-bdca-4eb1-96d5-b16c34f4de2d",
      "credentials": {
        "telegramApi": {
          "id": "2Iiuxdo4VzviFz81",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Il6ICsaLiWxPGzoc___5XwdoacbOXV9N",
          "mode": "list",
          "cachedResultName": "company ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Il6ICsaLiWxPGzoc___5XwdoacbOXV9N"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "2b2bb7f0-93ff-44e6-b7af-3c7e882b363a",
      "name": "Google Drive File Created1",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -288,
        160
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gHdfU9hvJ0bN7vqN",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Updated": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File From Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store (Retrieval)": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini (retrieval)": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store (Retrieval)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model (retrieval)": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Created1": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "bfb2abf0-81fc-4469-a52b-524e28a5ad5a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e88cb21d585b73f8d2f3cdc2885eeb5e97ed749d201adf2f0a825f9480cfab5"
  },
  "id": "iBiVL3rHi28XR3Ey",
  "tags": []
}